/* --------------- GLOBAL ---------------*/
*{
    box-sizing: border-box;
}
.container-content{
    padding: 20px;
}

/* --------------- NAVBAR --------------- */
.container-page-nav{
    height: 80px;
    background-color: rgb(197, 202, 255); 
}
.page-nav{
    display: flex;
    align-items: center;
    height: 80px;
    gap: 25px;
    padding: 0 20px;
}
.page-nav img{
    height: 70px;
}
.page-nav a{
    text-decoration: none;
    color: black;
}
.page-nav .nav-account{
    margin-left: auto;
}

/* --------------- HOME --------------- */
.page-nav, .container-content, .div-portada{
    margin: auto;
}
.page-nav, .img-portada{
    width: 100%;
}

@media only screen and (min-width: 1200px){
    .page-nav, .container-content, .div-portada{
        max-width: 1500px;
    }
}

/* --------------- PRODUCTS --------------- */
.container-page{
    display: flex;
}
.aside-left{
    width: 20%;
    /* height: 100vh; */
    max-height: 100vh;
    
}
.main-page{
    padding-left: 20px;
    width: 80%;
}
.producto{
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    padding: 20px;
}
.producto p{
    margin: 0;
}

/* --------------- LOGIN, SIGNIN --------------- */
.logo_ReFashioned{
    width: 100%;
    max-width: 250px;
    margin: 20px auto;
    display: block;
}
.container-login, .container-signin{
    width: 100%;
    max-width: 350px;
    padding: 20px 20px 0 20px;
    border-radius: 10px;
    margin: auto;
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgb(180, 180, 180);
}
.container-signin{
    width: 100%;
    max-width: 450px;
}
.container-login p, .container-signin p{
    font-size: 23px;
}
.container-login input, .container-login button,
.container-signin input, .container-signin button{
    font-size: 15px;
    width: 100%;
    margin-bottom: 20px;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.container-login .inp-btn, .container-signin .inp-btn{
    font-size: 18px;
    border: 0;
    border-radius: 5px;
}
.container-login .btn-blue, .container-signin .btn-blue{
    background-color: lightskyblue;
}
.container-login .btn-green, .container-signin .btn-green{
    background-color: lightgreen;
}
button a{
    text-decoration: none;
    color: black;
    width: 100%;
    display: block;
}