{% extends 'base.html' %}
{% block title %} Home {% endblock %}

{% block navbar %} 
<div class="container-page-nav">
    <div class="page-nav">
        <a href="/home"><img src="/static/img/logo_ReFashioned_v2_733.png"></a>
        <a href="/products">Productos</a>
        <a href="/orders">Mis pedidos</a>
        <a class="nav-account" href="/account">Cuenta</a>
    </div>
</div>
{% endblock %}

{% block front_page %}
<div class="div-portada">
    <img class="img-portada" src="static/img/portada.png" alt="">
</div>
{% endblock %}


{% block content %} 
{% endblock %}
