{% extends 'home.html' %}
{% block title %} Pedidos {% endblock %}

{% block front_page %}
{% endblock %}

{% block content %} 
    <div class="container-page">
        <aside class="aside-left">
            <h4>Filtros</h4>
            <h6>Fecha</h6>
                <input type="date" name="" id="">
        </aside>

        <main class="main-page">
            <h3>Mis pedidos</h3>
            <div class="div-orders">
                <div class="order">
                    {% for order in orders %}
                        <div class="order-header">
                            <label>Id pedido: {{order.IdPedido}}</label>
                            <label>Fecha: {{order.Fecha}}</label>
                            <label>Total: {{order.Total}}</label>
                            <label>Estado: Pendiente</label>
                        </div>
                        {% for product in order.Productos %}
                            <div class="product">
                                <p>Nombre: {{product.Nombre}}</p>
                                <p>Precio: {{product.Precio}}</p>
                            </div>
                        {% endfor %}
                {% endfor %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}